<div style='max-width: 320px;'>
  <h5 class='text-uppercase mt-4 mb-0'>Добавить комментарий:</h5>
  <div
    class='card-body'
    style='display: flex;
    flex-direction: column;
    align-items: flex-start;'
  >
    <div class='mb-2'>
      <textarea
        class='form-control text-left'
        id='userComment'
        rows='4'
        cols='50'
        placeholder='Введите текст комментария'
      ></textarea>
    </div>
    <button
      id='btnCreateComment'
      class='btn btn-outline-dark mb-3'
    >Добавить</button>
  </div>
</div>